<div class="relative bg-blue-800">
  <div class="mx-auto max-w-7xl px-6">
    <div class="flex items-center justify-between border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a routerLink="/">
          <img class="h-8 w-auto sm:h-10" src="/assets/images/logo.svg" alt="logo">
        </a>
      </div>

      <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
        <a routerLink="/schedule"
          class="flex justify-center whitespace-nowrap text-base font-medium text-white hover:text-gray-900">
          <img class="h-5 w-auto mr-1 mt-1" src="/assets/images/schedule.png" alt="logo">
          Schedule
        </a>
        <a routerLink="/leaderboard"
          class="ml-8 inline-flex items-center whitespace-nowrap text-base font-medium text-white shadow-sm hover:text-gray-900">
          <img class="h-5 w-auto mr-1" src="/assets/images/leaderboard.png" alt="logo">
          Leaderboard
        </a>
      </div>
    </div>
  </div>
</div>